.header-elegant {
  background: url("../images/hero-img.png") 50% no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;

}

.header-elegant__container {
  padding: 0;
  padding-bottom: 45px;
  &-header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    .logo {
      background: url("../images/logo.png") 50% no-repeat;
      /* Style for "Logo" */
      width: 109px;
      height: 18px;
      display: block;
      margin-top: 50px;
    }
  }
}

nav ul {
  list-style-type: none;
  margin-top: 45px;
  li {
    float: left;
    padding-right: 50px;
    display: block;
    height: auto;

    a {
      text-decoration: none;
      /* Style for "HELLO SERV" */
      color: #fffefe;
      font-family: Lato, sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 38px;
      text-transform: uppercase;
      padding: 0 0 10px 0;
      display: block;
      position: relative;
      &:before {
        display: block;
        background-color: #fffefe;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        height: 3px;
        opacity: 0;
        transform: translateX(-20px);
        transition: transform .2s ease-in, opacity .2s ease-in;
      }
      &:hover:before {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  li:last-of-type {
    padding-right: 83px;
  }
}

.header-elegant__ba-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 190px;

  h1 {
    /* Style for "we’re crea" */
    min-height: 37px;
    color: #ffffff;
    font-family: Raleway, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
  }
  hr {
    /* Style for "Shape 1" */
    @include hr-white;
  }
  p {
    /* Style for "Lorem ipsu" */
    max-width: 596px;
    min-height: 50px;
    color: #fffefe;
    font-family: Lato, sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;

  }
}

header .scroll {
  /* Style for "Right Arro" */
  width: 92px;
  height: 92px;
  background: url("../images/right-arrow-circular-button--attribute-as-robin-kylander-from-flaticon-com.svg") 50% no-repeat;
  background-size: cover;
  opacity: 0.5;
  margin: 200px auto 0;
  display: block;
  position: relative;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

header .scroll:hover {
  animation: bounce 1s;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}

//--------------------------------------------end header